/* CSS file for roster tool use*/

.rosterGroupByRoleColumns_1{
  width: 8%;
  align:left;
  
 }

.rosterGroupByRoleColumns_2{
  width: 5%;
  text-align:align:left;
  valign-text:vlaign:middle; 

}
/*
.rosterGroupByRoleColumns_3{
  width: 10%;
   text-align:align:left;
   valign-text:vlaign:middle;
 }
 
.rosterGroupByRoleColumns_4{
  width: 80%;
   text-align:align:left;
  valign-text:vlaign:middle;
 }
 
 */